/*
 Little Zoo

 written by Valéry Febvre
 vfebvre@easter-eggs.com

 Copyright 2015-2017 Valéry Febvre

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

.uppercase {
    text-transform: uppercase;
}

.panel-left .list-block {
    margin: 0;
}

/* Index */
[data-page="index"] .page-content > .card:last-child {
    margin-bottom: 8px;
}

[data-page="index"] .card-content .card-photo {
    height: 50vw;
    background-size: cover;
    background-position: center;
    padding: 4px;
}
[data-page="index"] .card-content-inner {
    text-align: center;
    padding: 4px 16px;
}
