
<div data-page="about" class="page layout-dark">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left"><a href="index.html" class="back link icon-only"><i class="icon icon-back"></i></a></div>
      <div class="center" data-l10n-id="about">About</div>
    </div>
  </div>
  <div class="page-content">
    <div class="content-block">
      <p data-l10n-id="description-p1">Little Zoo is the ideal app to discover animals and learn their sound. It is perfect for any age from one to five.</p>

      <p data-l10n-id="description-p2">Learn and spend good time together with your baby or toddler, or let it discover a world of animals by itself. Simple, yet endlessly enjoyable, Little Zoo lets your child unlock the magic of learning.</p>

      <p data-l10n-id="description-p3">With just a single tap, your child can have fun learning all animals sounds. Find out what your child's favourite animal is today!</p>
    </div>

    <div class="list-block media-list">
      <ul>
        <li>
          <a href="#" class="item-content">
            <div class="item-inner">
              <div class="item-title" data-l10n-id="author">Author</div>
              <div class="item-text">Valéry Febvre (v4l0s)</div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="item-content">
            <div class="item-inner">
              <div class="item-title" data-l10n-id="version">Version</div>
              <div class="item-text">1.2.0</div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="item-content">
            <div class="item-inner">
              <div class="item-title" data-l10n-id="license">License</div>
              <div class="item-text">GNU Affero GPL v3.0</div>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" onclick="return openLink('https://gitlab.com/valos/LittleZoo');" class="item-content external">
            <div class="item-inner">
              <div class="item-title" data-l10n-id="source">Source code</div>
              <div class="item-text">https://gitlab.com/valos/LittleZoo</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
