
<div data-page="credits" class="page layout-dark">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left"><a href="index.html" class="back link icon-only"><i class="icon icon-back"></i></a></div>
      <div class="center" data-l10n-id="credits">Credits</div>
    </div>
  </div>
  <div class="page-content">
    <div class="content-block">
      <p data-l10n-id="description-credits">Nothing would have been possible without the reusable or free work of many people. Here is the lists of photos, sounds, the HTML framework and libraries used to build Little Zoo.</p>
    </div>

    <div class="content-block-title uppercase" data-l10n-id="photos-and-sounds">Photos &amp; Sounds</div>
    <div class="list-block media-list" id="media-list">
      <ul></ul>
    </div>

    <div class="content-block-title uppercase" data-l10n-id="framework-and-libraries">Framework &amp; Libraries</div>
    <div class="list-block media-list">
      <ul>
        <li>
          <a href="javascript:void(0);" onclick="return openLink('http://www.idangero.us/framework7/');" class="item-content external">
            <div class="item-media"><img src="img/framework7.png" width="80"/></div>
            <div class="item-inner">
              <div class="item-title">Framework7</div>
              <div class="item-text">Free and open source mobile HTML framework to develop hybrid mobile apps or web apps</div>
              <div class="item-text">MIT License</div>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" onclick="return openLink('http://buzz.jaysalvat.com/');" class="item-content external">
            <div class="item-media"><img src="img/buzz.png" width="80"/></div>
            <div class="item-inner">
              <div class="item-title">Buzz!</div>
              <div class="item-text">Javascript HTML5 Audio library</div>
              <div class="item-text">MIT License</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
