
<div data-page="settings" class="page layout-dark">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left"><a href="index.html" class="back link icon-only"><i class="icon icon-back"></i></a></div>
      <div class="center" data-l10n-id="settings">Settings</div>
    </div>
  </div>
  <div class="page-content">

    <form id="settings" class="store-data list-block">
      <ul>
        <li>
          <label class="label-checkbox item-content">
            <input type="checkbox" name="autoplay" value="on" />
            <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
            <div class="item-inner">
              <div class="item-title" data-l10n-id="settings-autoplay">Auto play animal sound</div>
            </div>
          </label>
        </li>

        <li>
          <label class="label-checkbox item-content">
            <input type="checkbox" name="hide_description" value="on" />
            <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
            <div class="item-inner">
              <div class="item-title" data-l10n-id="settings-hide-description">Hide animal description</div>
            </div>
          </label>
        </li>

        <li>
          <label class="label-checkbox item-content">
            <input type="checkbox" name="enable_zoom" value="on" />
            <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
            <div class="item-inner">
              <div class="item-title" data-l10n-id="settings-enable-zoom">Enable ability to zoom and pan photo</div>
            </div>
          </label>
        </li>
      </ul>
    </form>

  </div>
</div>
